@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+Display:wght@500&family=PT+Serif&family=Poppins&family=Red+Hat+Display:wght@300&family=Roboto:wght@500&family=Titillium+Web&display=swap");

h1,
name {
  text-align: center;
  color: #caf0f8;
  font-family: "Abril Fatface", cursive;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
h3 {
  text-align: center;
}
body {
  margin: 0px;
  background-color: #4c35de;
  color: #000000;
  font-family: "Abril Fatface", cursive;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

#name {
  animation-name: animationOne;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes animationOne {
  from {
    left: -10%;
  }
  to {
    left: 90%;
  }
}
header {
  background-image: url(https://images.pexels.com/photos/5046935/pexels-photo-5046935.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover; /* Stretch the background image to cover the entire header */
  background-repeat: no-repeat; /* Prevent image tiling */
}
header nav a {
  font-family: "Abril Fatface", cursive;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: #caf0f8;
}
nav a:hover {
  color: blue;
}
main p,
h4 {
  text-align: center;
  color: #000000;
  font-family: "Abril Fatface", cursive;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  padding: 5px 0; /* Added padding to control vertical spacing */
  margin: 5px 0; /* Added margin to control vertical spacing */
}
main h4 {
  color: #000000;
}

section .section {
  color: #000000;
  background-color: #c6f1ff;
  font-family: "Abril Fatface", cursive;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  justify-content: center;
}
aside {
  background-color: #c6f1ff;
}
main #contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  width: 500px;
  margin: 0 auto;
  font-family: "Abril Fatface", cursive;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

main #contactInfo label {
  margin-bottom: 5px;
  color: #000000;
}

main #contactInfo input,
main #contactInfo textarea {
  width: 90%;
  padding: 5px;

  margin-bottom: 10px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 5000px 150px;
  grid-template-areas:
    "header header header header"
    "main main main section"
    "main main main aside"
    "footer footer footer footer ";
  background-color: #c6f1ff;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
div footer {
  padding: 10px;
  background-color: #0033a0;
}
.work-experience {
  padding: 5px;
}

.job {
  margin-bottom: 30px;
  padding: 20px;
}

.job h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.job p {
  margin: 5px 0;
  font-size: 16px;
}

.job p.description {
  margin-top: 10px;
}

.job p.skills {
  font-weight: bold;
}
